<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.nfc"
        android:sharedUserId="android.uid.nfc"
        android:sharedUserLabel="@string/nfcUserLabel"
>
    <uses-permission android:name="android.permission.NFC_ADMIN" />
    <uses-permission android:name="android.permission.NFC_RAW" />
    <uses-permission android:name="android.permission.NFC_NOTIFY" />
    <uses-permission android:name="android.permission.NFC_LLCP" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:persistent="true" >
        <service android:name=".NfcService" >
        </service>
        <receiver android:name=".NfcReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
